{% extends "::base.html.twig" %}

{% block title %}Home page - {{ parent() }}{% endblock %}


{% block body %}

    <header id="starting-page">

        {# not needed for now #}
        {#<nav>#}
            {#<ul>#}
                {#<li><a href="#">Nav 1</a></li>#}
                {#<li><a href="#">Nav 2</a></li>#}
                {#<li><a href="#">Nav 3</a></li>#}
                {#<li><a href="#">Nav 4</a></li>#}
            {#</ul>#}
        {#</nav>#}

        <div id="text">
            <h1>Keep Running</h1>
            <p>
                Jeigu nusibodo įprasta bėgimo trasa ir ieškai naujovių - Keep Running skirtas būtent tau!
                Su Keep Running kiekvieną kartą yra generuojama vis kitokia bėgimo trasa, kuri prasideda nuo
                tos vietos kur esate.
            </p>
            <a href="#filters-section">Pradėti</a>
        </div>
    </header>

    <div id="main-page-sections">
        <section id="filters-section">
            <div class="container">
                <h1>Filtras</h1>
                <form action="{{ path('map.index') }}" id="filters-form">
                    <div class="form-group">
                        <h2>Trasos ilgis</h2>
                        <div class="filters-input">
                            <p id="distance-text"></p>
                            <span style="display: none"><input id="distance" type="text" readonly=""> km</span>
                            <input id="distance_from" type="hidden"  name="distance_from" value="2">
                            <input id="distance_to" type="hidden"  name="distance_to" value="{{ max_distance }}">
                            <div id="distance_slider_range"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <h2>Sunkumas</h2>
                        <div class="filters-input">
                            <div id="difficulties">
                                {% for level in tracks_levels %}
                                    <input type="radio" name="difficulty" value="{{ level.levelId }}" {% if level.levelId == 2 %}checked{% endif %} >
                                    {{ level.levelName }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <button>Generuoti trasą</button>
                </form>
            </div>
        </section>

        <section id="uniqueness">
            <div class="container">
                <h1>Išskirtinumas</h1>
                <div id="bubbles">
                    <article>
                        <p>
                            <i class="fa fa-globe" aria-hidden="true"></i><br>
                            Kiekviena kartą skirtinga bėgimo trasa
                        </p>
                    </article>
                    <article>
                        <p>
                            <i class="fa fa-area-chart" aria-hidden="true"></i><br>
                            Trasos generuojamos pagal ilgį ir sudėtingumo lygį
                        </p>
                    </article>
                    <article>
                        <p>
                            <i class="fa fa-check" aria-hidden="true"></i><br>
                            Nėra jokių registracijų
                        </p>
                    </article>
                </div>
            </div>
        </section>

        <section id="about-project">
            <div class="container">
                <h1>Apie projektą</h1>
                <p>
                    Keep Running skirtas visiems bėgiojimo entuziastams. Su Keep Running galima lengvai ir greitai
                    generuoti įvairaus ilgio ir sudėtingumo bėgimo trasas. Tam nereikia jokių registracijų, nes šios
                    aplikacijos tikslas jums sukurti trasą čia ir dabar, kuo patogiau ir paprasčiau, be jokių bereikalingų
                    papildomų paspaudimų.
                </p>
                <p>
                    Su Keep Running kiekvieną kartą galima atrasti vis naujų ir nematytų vietų, geriau susipažinti su
                    gimtuoju miestu. O sugeneravus trasą nebūtina niekur keliauti tam, kad būtų galima pradėti bėgimą,
                    nes trasos sugeneruojamos nuo dabartinės buvimo vietos.
                </p>
            </div>
        </section>
    </div>

    <footer>
        <div class="container">
            <p>
                &copy; NFQ Akademija 2016, Kaunas.
            </p>
        </div>
    </footer>

{% endblock %}
{% block javascripts %}
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#distance_slider_range").slider({
                range: true,
                values: [2, {{ max_distance }}],
                min: 2,
                max: {{ max_distance }},
                slide: function( event, ui ) {
                    $( "#distance-text" ).html( ui.values[0] + " - " + ui.values[1] + " km");
                    $( "#distance_from" ).val(ui.values[0]);
                    $( "#distance_to" ).val(ui.values[1]);
                }
            });
            $( "#distance-text" ).html( $( "#distance_slider_range" ).slider( "values", 0 ) +
                    " - " + $( "#distance_slider_range" ).slider( "values", 1 ) + " km" );
        });
    </script>
{% endblock %}